In [18]:
import pandas
import yfinance as yf
from pandas_datareader.data import DataReader
yf.pdr_override()

In [8]:
data = yf.download('AAPL', '2017-01-01', '2022-01-01')
data.head()

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2017-01-03  28.950001  29.082500  28.690001  29.037500  27.059311  115127600
2017-01-04  28.962500  29.127501  28.937500  29.004999  27.029024   84472400
2017-01-05  28.980000  29.215000  28.952499  29.152500  27.166471   88774400
2017-01-06  29.195000  29.540001  29.117500  29.477501  27.469330  127007600
2017-01-09  29.487499  29.857500  29.485001  29.747499  27.720932  134247600

In [20]:
#yf.pdr_override()
# name = 'AAPL'
data_source = 'yahoo'

ticker = 'AAPL'
source = 'yahoo'
start_date = '2017-01-01'
end_date = '2022-01-01'

data = DataReader(ticker, start=start_date, end=end_date)
data.head()

TypeError: download() got an unexpected keyword argument 'name'